<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Address Book</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/a04d9e4c1c.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-cloak ng-controller="MainCtrl">
    
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <span class="navbar-brand">
                            Address Book
                        </span>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" ng-click="addUser(newUser)">
                                Add User
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <ul class="list-group">
                    <li class="list-group-item" 
                        ng-repeat="user in userList"
                        ng-click="setSelectedUser(user)">
                            {{user.name}}
                            <button class="btn btn-primary pull-right"
                                ng-click="editUser(user)">Edit</button>
                    </li>
                </ul>
            </div> 
            <div class="col-md-7 panel panel-default">
                <div class="row" ng-hide="editMode">
                    <div class="col-md-12">
                        <div class="row panel">
                            <div class="col-md-3">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7XoMBDx9M3hDrFeSVgQIY-Gx62zaWCtGBGFpCwoc8_II1xm40hpHWRPA" class="img-responsive">
                            </div>
                            <div class="col-md-9">
                                <div class="row panel-a">
                                    <div class="col-md-12">
                                        {{selectedUser.name}}
                                    </div>
                                </div>
                                <div class="row panel-a">
                                    <div class="col-md-12">
                                        {{selectedUser.title}}
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                        <div class="row">
                            <div class="col-md-3">
                                <div class="row panel">
                                    <div class="col-md-12">
                                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="row panel">
                                    <div class="col-md-12">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="row panel">
                                    <div class="col-md-12">
                                    {{selectedUser.phone}}
                                    </div>
                                </div>
                                <div class="row panel">
                                    <div class="col-md-12">
                                        {{selectedUser.email}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 panel">
                              <i class="fa fa-home" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-5 panel">
                                    {{selectedUser.address.street}} <br>
                                    {{selectedUser.address.city}}<br>
                                    {{selectedUser.address.state}}<br>
                                    {{selectedUser.address.zip}}
                            </div>
                            <div class="col-md-4">
                                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBSgzPOTwU4YeNv-lCW-g31PJ1sUV5BCoA&q=Lexington,+KY" class="img-responsive"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="editMode">
                    <div class="col-md-12">
                        <input type="text" ng-model="selectedUser.name" placeholder="Name" class="form-control">
                        <input type="text" ng-model="selectedUser.title" placeholder="Title" class="form-control">
                        <input type="text" ng-model="selectedUser.phone" placeholder="Phone" class="form-control">
                        <input type="text" ng-model="selectedUser.email" placeholder="Email" class="form-control">
                        <input type="text" ng-model="selectedUser.address.street" placeholder="Street name" class="form-control">
                        <input type="text" ng-model="selectedUser.address.city" placeholder="City" class="form-control">
                        <input type="text" ng-model="selectedUser.address.state" placeholder="State" class="form-control">
                        <input type="text" ng-model="selectedUser.address.zip" placeholder="Zipcode" class="form-control">
                    <button class="btn btn-primary" ng-click="userForm()">Submit</button>
                </div>
                    </div>
                </div>
        </div>
    </div>

    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.22.1/ramda.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
